In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
df = pd.read_csv('../../../Datasets/RQ1/vue_metrics.csv')
df.head(10)

,Unnamed: 0,version,release_date,timestamp,sqale_debt_ratio,vulnerabilities,security_rating,sqale_rating,complexity,cognitive_complexity,ncloc
0,0,0.6.0,2013-12-07,1386462737,1.6,0,1.0,1.0,1274,672,6820
1,1,v0.7.0,2013-12-23,1387855865,1.6,0,1.0,1.0,1329,696,7105
2,2,v0.7.1,2013-12-24,1387922313,1.6,0,1.0,1.0,1433,711,7387
3,3,v0.7.2,2013-12-28,1388209420,1.6,0,1.0,1.0,1439,714,7401
4,4,0.10.0-rc,2014-03-19,1395263823,2.3,0,1.0,1.0,3353,2625,15241
5,5,0.11.0,2014-11-06,1415325162,2.4,0,1.0,1.0,2943,1998,14564
6,6,0.11.0-rc,2014-09-26,1411781027,2.3,0,1.0,1.0,2835,1935,13904
7,7,0.11.0-rc2,2014-10-07,1412701646,2.3,0,1.0,1.0,2843,1928,13986
8,8,0.11.0-rc3,2014-10-24,1414123890,2.4,0,1.0,1.0,2912,1958,14418
9,9,0.11.10,2015-05-07,1431025236,2.4,0,1.0,1.0,3302,2223,16638

In [6]:
df.describe()

,Unnamed: 0,timestamp,sqale_debt_ratio,vulnerabilities,security_rating,sqale_rating,complexity,cognitive_complexity,ncloc
count,43.000000,4.300000e+01,43.000000,43.000000,43.000000,43.0,43.000000,43.000000,43.000000
mean,21.000000,1.502754e+09,1.676744,0.558140,3.232558,1.0,8455.023256,8250.279070,40553.209302
std,12.556539,9.034029e+07,0.608604,0.502486,2.009942,0.0,5135.902654,6532.850313,23548.642642
min,0.000000,1.386463e+09,0.400000,0.000000,1.000000,1.0,1274.000000,672.000000,6820.000000
25%,10.500000,1.429464e+09,1.500000,0.000000,1.000000,1.0,3243.500000,2199.500000,16214.500000
50%,21.000000,1.487910e+09,1.800000,1.000000,5.000000,1.0,10268.000000,6776.000000,49494.000000
75%,31.500000,1.548669e+09,2.000000,1.000000,5.000000,1.0,12422.500000,14571.000000,60026.500000
max,42.000000,1.698048e+09,2.400000,1.000000,5.000000,1.0,16361.000000,19147.000000,72898.000000

In [7]:
df['version']

0               0.6.0
1              v0.7.0
2              v0.7.1
3              v0.7.2
4           0.10.0-rc
5              0.11.0
6           0.11.0-rc
7          0.11.0-rc2
8          0.11.0-rc3
9             0.11.10
10             0.11.5
11             0.11.6
12             0.11.7
13             0.11.8
14            v1.0.14
15        v1.0.14-csp
16            v1.0.15
17        v1.0.15-csp
18            v1.0.16
19            v2.1.10
20             v2.1.9
21             v2.2.0
22      v2.2.0-beta.1
23      v2.2.0-beta.2
24            v2.5.14
25            v2.5.15
26            v2.5.16
27            v2.5.17
28     v2.5.17-beta.0
29            v2.5.22
30             v2.6.0
31      v2.6.0-beta.1
32      v2.6.0-beta.2
33      v2.6.0-beta.3
34            v2.6.12
35            v2.6.13
36            v2.6.14
37             v2.7.0
38     v2.7.0-alpha.1
39    v2.7.0-alpha.10
40    v2.7.0-alpha.11
41    v2.7.0-alpha.12
42            v2.7.15
Name: version, dtype: object